<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script th:src="@{js/bookslot.js}"></script>
    <script th:src="@{js/master.js}"></script>


    <title></title>
    <style type="text/css">
     footer {
            text-align:center;
            padding: 5px;
            background-color: #abbaba;
            color: #000;
        }

        .scrolling-wrapper{
	overflow-x: auto;
}

  .navbar .navbar-default{
  background-image: url("C:\Users\krao6\Downloads/kalyan.jpg");
}
.navbar-nav li:hover > ul.dropdown-menu {
    display: block;
}
.dropdown-submenu {
    position:relative;
}
.dropdown-submenu > .dropdown-menu {
    top: 0;
    left: 100%;
    margin-top:-6px;
}

/* rotate caret on hover */
.dropdown-menu > li > a:hover:after {
    text-decoration: underline;
    transform: rotate(-90deg);
}

body {
  background-image: url("jacknjill.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
}
.logo img {
    width: 100%;
    height: 80px;
    object-fit: cover;
    border-radius: 50%;
    box-shadow: 0px 0px 3px #5f5f5f,
        0px 0px 0px 5px #ecf0f3,
        8px 8px 15px #a7aaa7,
        -8px -8px 15px #fff;
}

.header_bar {
    position: top;
    left: 0;
    bottom: 0;
    width: 100%;
  background-color:  #5959ff ;
    text-align: center;
    }

.footer_bar {
   position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   background-color:  #5959ff;
   text-align: center;
}

  </style>
</head>
<body style="background-color:#fff;">

<div th:fragment="navbar_header">
    <div class="header_bar">
        <marquee behavior="scroll" direction="right" scrollamount="12">  <font color=" #ffff00 ">
            <b>  Welcome to Royal Court     ***    BOOK MY COURT         </b>
        </font></marquee>
    </div>
</div>
<div class="container-fluid">

    <nav class="navbar navbar-expand-sm navbar-light bg-light">
        <a class="navbar-brand" href="/">
            <img th:src="@{images/Custom.jpg}" id="logo" alt="" width="30" height="24" class="d-inline-block align-text-top">
            <font color="#00008b"> <b>BOOK MY COURT</b></font>
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup" th:if="${session.loggedIn != 'true'}">
            <ul class="navbar-nav">
                <li class="nav-item active">
                    <a title= "home" class="nav-link active" href="/"> <font color="#008000">
                        <b>Home</b>
                    </font></a>
                </li>
                <li class="nav-item active">
                    <a title= "home" class="nav-link active" href="/public/register"> <font color="#008000">
                        <b>Register</b>
                    </font></a>
                </li>
                <li class="nav-item active">
                    <a title= "home" class="nav-link active" href="/homePage/"> <font color="#008000">
                        <b>LogIn</b>
                    </font></a>
                </li>
            </ul>
        </div>
        <li class="collapse navbar-collapse" id="navbarNavAltMarkup" th:if="${session.loggedIn == 'true' && session.user.userType != 'Admin'}">
            <ul class="navbar-nav">
                <div class="nav-item active">
                    <a title= "home" class="nav-link active" href="/"> <font color="#008000">
                        <b>Home</b>
                    </font></a>
                </div>
                <div class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false" style="color: Green;" aria-haspopup="true">
                        <font color="green"><b>Masters</b></font>
                    </a>
                    <ul class="dropdown-menu">

                        <li class="navbar-nav">
                            <a class="nav-link active" aria-current="page" href="/public/managePro"><font color="black"> Manage Profile</font></a>
                        </li>
                    </ul>
                </div>
                <div class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false" style="color: Green;" aria-haspopup="true">
                        <font color="green"><b>Transactions</b></font>
                    </a>
                    <ul class="dropdown-menu">

                        <li class="navbar-nav">
                            <a class="nav-link active" aria-current="page" href="/bookSlot"><font color="black"> BookSlot</font></a>
                        </li>
                        <li class="navbar-nav">
                            <a class="nav-link active" aria-current="page" href="/myRequests"><font color="black">MyRequests</font> </a>
                        </li>
                    </ul>
                </div>
                <div class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false" style="color: Green;" aria-haspopup="true">
                        <font color="green"><b>Reports</b></font>
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">


                        <li class="dropdown-submenu"><a class="dropdown-item dropdown-toggle" href="#"> <font color="green"><b>Masters</b></font></a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="/gameDataUser">Game Data</a></li>
                                <li class="navbar-nav">
                                    <a class="dropdown-item" href="/courts">Courts</a>
                                </li>
                                <li class="navbar-nav">
                                    <a class="dropdown-item" href="/slots">Slots</a>
                                </li>
                                <li class="navbar-nav">
                                    <a class="dropdown-item" href="/dayTypes">DayTypes</a>
                                </li>
                                <li class="navbar-nav">
                                    <a class="dropdown-item" href="/specialDates">SpecialDates</a>
                                </li>
                                <li class="navbar-nav">
                                    <a class="dropdown-item" href="/games">Games</a>
                                </li>
                            </ul>
                        </li>
                        <li class="dropdown-submenu"><a class="dropdown-item dropdown-toggle" href="#"><font color="green"><b>Transactions</b></font></a>
                            <ul class="dropdown-menu">
                                <li class="navbar-nav">
                                    <a class="nav-link active" aria-current="page" href="/slotViewDataUser">Bookings</a>
                                </li>
                            </ul>
                        </li>
                    </ul>

                </div>

            </ul>
        </li>
        <li class="collapse navbar-collapse" id="navbarNavAltMarkup" th:if="${session.loggedIn == 'true' && session.user.userType == 'Admin' }">
            <ul class="navbar-nav">
                <li class="nav-item active">
                    <a title= "home" class="nav-link active" href="/"> <font color="#008000">
                        <b>Home</b>
                    </font></a>
                </li>
                <div class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false" style="color: green;">
                        <font color="green"><b>Masters</b></font>
                    </a>

                    <ul class="dropdown-menu">

                        <li class="navbar-nav">
                            <a class="nav-link active" aria-current="page" href="/courts">Courts</a>
                        </li>
                        <li class="navbar-nav">
                            <a class="nav-link active" aria-current="page" href="/slots">Slots</a>
                        </li>
                        <li class="navbar-nav">
                            <a class="nav-link active" aria-current="page" href="/dayTypes">DayTypes</a>
                        </li>
                        <li class="navbar-nav">
                            <a class="nav-link active" aria-current="page" href="/specialDates">SpecialDates</a>
                        </li>
                        <li class="navbar-nav">
                            <a class="nav-link active" aria-current="page" href="/games">Games</a>
                        </li>
                    </ul>
                </div>
                <div class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false" style="color: Green;" aria-haspopup="true">
                        <font color="green"><b>Transactions</b></font>
                    </a>
                    <ul class="dropdown-menu">

                        <li class="navbar-nav">
                            <a class="nav-link active" aria-current="page" href="/acceptSlots"><font color="">AcceptSlots</font> </a>
                        </li>
                    </ul>
                </div>
                <div class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false" style="color: Green;" aria-haspopup="true">
                        <font color="green"><b>Reports</b></font>
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">


                        <li class="dropdown-submenu"><a class="dropdown-item dropdown-toggle" href="#"> <font color="green"><b>Masters</b></font></a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="/gameDataUser">Game Data</a></li>
                                <li><a class="dropdown-item" href="/public/managePro">Update Profile</a></li>
                                <li class="navbar-nav">
                                    <a class="dropdown-item" href="/courts">Courts</a>
                                </li>
                                <li class="navbar-nav">
                                    <a class="dropdown-item" href="/slots">Slots</a>
                                </li>
                                <li class="navbar-nav">
                                    <a class="dropdown-item" href="/dayTypes">DayTypes</a>
                                </li>
                                <li class="navbar-nav">
                                    <a class="dropdown-item" href="/specialDates">SpecialDates</a>
                                </li>
                                <li class="navbar-nav">
                                    <a class="dropdown-item" href="/games">Games</a>
                                </li>
                            </ul>
                        </li>
                        <li class="dropdown-submenu"><a class="dropdown-item dropdown-toggle" href="#"><font color="green"><b>Transactions</b></font></a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="/slotViewData">Bookings</a></li>
                            </ul>
                        </li>
                    </ul>

                </div>

            </ul>
        </li>

        <div class="d-flex navbar-nav" id="navbarNavAltMarkup" th:if="${session.loggedIn == 'true'}"  style="color: blue; font-size: 16px;" >
            <h6><center>Welcome</center></h6>
            <ul class="nav-item dropdown">
                <a  class="nav-link dropdown-toggle"  aria-current="page"  th:text="${session.user.userName}" href="/" data-bs-toggle="dropdown" aria-expanded="false" style="color: red;"></a>
                <ul class="dropdown-menu">
                    <li class="navbar-nav">
                        <a class="nav-link active" aria-current="page" href="/public/pwd"><font color="black">Reset Password</font> </a>
                    </li>
                    <li class="navbar-nav">
                        <a class="nav-link active" aria-current="page" href="/public/logout"><font color="black"> LOGOUT</font></a>
                    </li>
                </ul>
            </ul>
            <img class="account-icon" alt="" th:src="@{images/letter-a.png}" width="30" height="24">
        </div>
    </nav>
</div>
<div layout:fragment="content" class="container"></div>
<div th:fragment="navbar_footer">
    <div class="footer_bar">
        <font color=" #ffff00 ">
            <b> www.royalcourts.com </b>
        </font>
        <font color="black ">
            <b> @Copyright ©2023 Version_05-09-2023-A</b>
        </font>

        <font color=" #ffff00 ">
            <b> Jack N Jill Solutions Pvt Ltd.</b>
        </font>
    </div>
</div>

</body>
<script type="text/javascript">

$(document).ready(function(){
$('#submit').prop('disabled',true);
});
$("#mobileNo, #oldPassword,#newPassword,#con_newoldPassword").change(function(){
$('#submit').prop('disabled',false);
});


</script>

</html>